@font-face {
  font-family: 'Fira Code';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/FiraCode-Regular.woff2") format("woff2"),
       url("fonts/FiraCode-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Fira Code';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/FiraCode-Bold.woff2") format("woff2"),
       url("fonts/FiraCode-Bold.woff") format("woff");
}
