.footer {
    padding: 40px 0;
    flex-grow: 0;
    opacity: .5;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 760px;
        max-width: 100%;

        @include tablet {
            flex-direction: column;
        }
    }

    a {
        color: inherit;
    }

    .copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        color: change-color($text-color, $alpha: 0.5);

        &--user {
            margin: auto;
            text-align: center;
        }

        & > *:first-child:not(:only-child) {
            @include tablet {
                border: none;
                padding: 0;
                margin: 0;
            }
        }

        @include tablet {
            flex-direction: column;
            margin-top: 10px;
        }

        & > span + span::before {
            content: '::';
            margin: 0 10px;

            @include tablet {
                display: none;
            }
        }
    }
}
