html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    font-size: 1rem;
    line-height: 1.54;
    background-color: $background-color;
    color: $text-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    font-variant-ligatures: contextual;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;

    @include phone {
        font-size: 1rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;

    &:not(first-child) {
        margin-top: 40px;
    }
}

h1, h2, h3 {
    font-size: 1.4rem;
}

h4, h5, h6 {
    font-size: 1.2rem;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;

    &.left {
        margin-right: auto;
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
    }

    &.right {
        margin-left: auto;
    }
}

p {
    margin-bottom: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 25px 0 0;

    margin-left: auto;
    margin-right: auto;

    figcaption {
        font-size: 14px;
        padding: 5px 10px;
        margin-top: 5px;
        background: $accent-color;
        color: $background-color;

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }

    & .src {
        order: 2;

        & pre {
            padding-top: 0;
            margin-top: 0;
            border-top: none;
        }

        & + figcaption {
            text-align: right;
            color: $text-color;
            background: $background-color;
            padding: 10px 0;
            border-top: 1px solid hsla(0,0%,100%,.1);
        }
    }

    & img {
        margin: 0 auto;

        & + figcaption {
            text-align: center;
            color: $text-color;
            background: $background-color;
        }
    }
}

code {
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    font-feature-settings: normal;
    background: change-color($accent-color, $alpha: 0.2);
    color: $accent-color;
    padding: 1px 6px;
    margin: 0 2px;
    font-size: .95rem;
}

pre {
    background: transparent !important;
    padding: 20px 10px;
    margin: 40px 0;
    font-size: .95rem;
    overflow: auto;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    + pre {
        border-top: 0;
        margin-top: -40px;
    }

    @include phone {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    code {
        margin: 0;
        padding: 0;
        font-size: inherit;
        border: none;
    }
}

blockquote {
    border-top: 1px solid $accent-color;
    border-bottom: 1px solid $accent-color;
    margin: 40px 0;
    padding: 25px;

    @include phone {
        padding-right: 0;
    }

    &:before {
        content: '”';
        font-family: Georgia, serif;
        font-size: 3.875rem;
        position: absolute;
        left: -40px;
        top: -20px;
    }

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    p {
        position: relative;
    }

    p:before {
        content: '>';
        display: block;
        position: absolute;
        left: -25px;
        color: $accent-color;
    }
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0;
}

table, th, td {
    border: 1px dashed $accent-color;
    padding: 10px;
}

th {
    color: $accent-color;
}

ul, ol {
    margin-left: 30px;
    padding: 0;

    li {
        position: relative;
    }

    @include phone {
        margin-left: 20px;
    }

    ul, ol {
        margin-top: 20px;
    }
}

ol ol {
    list-style-type: lower-alpha;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 864px;
    min-height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    &.full,
    &.center {
        border: none;
        margin: 0 auto;
    }

    &.full {
        max-width: 100%;
    }

    @include phone {
        padding: 20px;
    }
}

.content {
    display: flex;
}

hr {
    width: 100%;
    border: none;
    background: $border-color;
    height: 1px;
}

.hidden {
    display: none;
}

.footnote-definition {
    display: flex;
    flex-direction: row;
    align-items: start;

    & > sup {
        margin-right: 10px;
    }

    & > p {
        margin: 0;
    }

    & + .footnote-definition {
        margin-top: 10px;
    }
}
