.post {
  width: 100%;
  text-align: left;
  margin: 20px auto;
  padding: 20px 0;

  @include tablet {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: change-color($accent-color, $alpha: 0.7);
  }

  &-title {
    position: relative;
    color: $accent-color;
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: 3px dotted $accent-color;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: 3px dotted $accent-color;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    border: 20px solid $accent-color;
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @include phone {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    li:before {
      content: '►';
      position: absolute;
      left: -20px;
      color: $accent-color;
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}
