<footer class="footer">
  <div class="footer__inner">
      <div class="copyright copyright--user">
        <span>© 2019-{{ now.Year }} Powered by <a href="http://gohugo.io">Hugo</a></span>
        {{ with .Site.Params.Copyright -}}
        <span><a href="{{ .url }}" target="_blank">{{ .text }}</a></span>
        {{ end }}
      </div>
  </div>
</footer>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
