<div class="post-meta">
  {{ if .Date }}
    <time class="post-date">
      {{ .Date.Format "2006-01-02" }}
      {{ if $.Site.Params.showLastUpdated }}
        [{{or $.Site.Params.updatedDatePrefix "Updated"}} :: {{ .Lastmod.Format "2006-01-02" }}]
      {{ end }}
    </time>
  {{ end }}
  {{ with .Params.Author }}
    <span class="post-author"> :: {{ . }}</span>
  {{ end }}
  {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
    <span class="post-reading-time">:: {{ T "reading_time.minutes" .ReadingTime }} ({{ T "reading_time.words" .WordCount }})</span>
  {{ end }}
</div>
